.dashboard__head {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
}
  
.dashboard__head h1 {
    text-align: left;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--c-black);
}

.dashboard__head a, .option__btns button, .option__btns a {
    flex: 0 0 auto;
    text-decoration: none;
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-align: center;
    border-radius: 4px;
    font-family: inherit;
    border: 1.2px solid var(--c-primary);
    color: var(--c-primary);
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    outline: none;
}

.option__btns {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
    margin: 0.8rem 0;
}

.option__btns button, .option__btns a {
    padding: 0.36rem 0.5rem;
}

.option__btns button:disabled {
    background-color: var(--c-primaryTint);
    color: var(--c-white);
    cursor: not-allowed;
}

.details__main {
    width: 100%;
    margin-top: 0.8rem;
    padding: 0.4rem 0.8rem;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.8rem 0.2rem;
}

.detail:not(:last-child) {
    border-bottom: 1px solid var(--c-tableShadow);
}

.detail p:nth-child(1) {
    text-align: left;
    width: 240px;
    font-size: 0.96rem;
    font-weight: 600;
    color: var(--c-mainSec);
}

.detail p:nth-child(2) {
    text-align: left;
    font-size: 1.04rem;
    font-weight: 400;
    color: var(--c-mainText);
}

.detail__images {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 0.8rem 0.2rem;
}

.detail__images:not(:last-child) {
    border-bottom: 1px solid var(--c-tableShadow);
}

.detail__images > p {
    text-align: left;
    width: 240px;
    font-size: 0.96rem;
    font-weight: 600;
    color: var(--c-mainSec);
}

.display__images {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.file__pdf {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.3rem;
    list-style-type: none;
    width: 180px;
    height: auto;
    aspect-ratio: 3/2;
    border: 1px solid #232323A0;
    border-radius: 4px;
    padding: 0.3rem;
    background-color: var(--c-black);
    position: relative;
}

.file__pdf p {
    text-align: left;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 500;
}

.file__pdf span {
    text-align: left;
    font-size: 0.76rem;
    color: #fff;
}

.image {
    position: relative;
}

.image img {
    width: 180px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #23232330;
}

.image a, .file__pdf a {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 0.3rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1.2px solid var(--c-primary);
    color: var(--c-primary);
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    outline: none;
    box-sizing: 0 0 2px 2px #777777C0;
}

@media all and (max-width: 500px) {
    .detail {
        flex-direction: column;
    }
}

@media (hover:hover) and (pointer: fine) {
    .dashboard__head a:is(:hover, :focus-visible), .image a:is(:hover, :focus-visible), .option__btns button:not(:disabled):is(:hover, :focus-visible), .option__btns a:is(:hover, :focus-visible), .file__pdf a:is(:hover, :focus-visible) {
        background-color: var(--c-primary);
        color: var(--c-white);
    }
}