.builder__toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 0.8rem 0.8rem;
  border-radius: 8px 8px 0 0;
  margin-top: 1.5rem;
  background-color: var(--c-tableSecColor);
  border: 0.4px solid var(--c-primaryTint);
  border-bottom: none;
}

.builder__toggle button {
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.8rem;
  border: none;
  transition: color 0.3s ease-in-out, border 0.3s ease, background-color 0.3s ease;
  position: relative;
  outline: none;
  color: var(--c-primary);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.builder__toggle button span {
    font-size: 0.7rem;
    padding: 0.2rem;
    border: 4px;
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: var(--c-primaryTint);
    color: var(--c-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.builder__toggle button.builder__active {
  color: var(--c-white);
  border-color: var(--c-primaryShade);
  background-color: var(--c-primaryShade);
}

.builder__toggle button:not(.builder__active):is(:hover,:focus-visible) {
  color: var(--c-primaryShade);
}

@media all and (max-width: 400px) {

  .builder__toggle {
    gap: 0.2rem;
  }

  .builder__toggle button {
    font-size: 0.7rem;
  }
}