.skeleton__main {
    width: 100%;
    height: 100vh;
    background-color: var(--c-mainBg);
    overflow-y: auto;
}

.skeleton__center {
    width: 100%;
    max-width: 1500px;
    padding: 1.2rem 1.2rem 2.4rem;
}

.skeleton__flex--col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
}

.skeleton__grid {
    width: 100%;
    display: grid;
    gap: 1.2rem;
    margin-top: 0.7rem;
}

.skeleton__stats--grid {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.skeleton__materials--grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.skeleton__stat {
    max-width: 100%;
    height: 64px;
    background-color: var(--c-mainBg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem;
}

.stat__block1 {
    width: 32px;
    height: 32px;
    flex: 0 0 auto;
}

.stat__block2 {
    width: 100%;
    height: 48px;
}

.skeleton__material {
    max-width: 100%;
    background-color: var(--c-skeletonPri);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 0.8rem;
}

.material__block1 {
    width: 100%;
    height: 120px;
}

.material__block2 {
    width: 120px;
    height: 32px;
}

.material__block3 {
    width: 100%;
    height: 28px;
}

.material__block4 {
    width: 100%;
    height: 36px;
}

.skeleton__color {
    background-color: var(--c-skeletonPri);
    position: relative;
}

.skeleton__head {
    width: 400px;
    height: 48px;
    max-width: 100%;
}

.skeleton__block1 {
    width: 180px;
    max-width: 100%;
    height: 40px;
    margin-top: 1.2rem;
}

.skeleton__ads--upload {
    width: 100%;
    height: 240px;
    padding: 0.8rem;
    background-color: var(--c-skeletonPri);
    justify-content: center;
    align-items: center;
}

.ads__upload--b3 {
    width: 80%;
    height: 56px;
}

.ads__upload--b1 {
    width: 240px;
    height: 36px;
}

.ads__upload--b2 {
    width: 120px;
    height: 60px;
}

.skeleton__ads--all {
    width: 100%;
}

.skeleton__ads--each {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.8rem;
    padding: 0.8rem;
}

.ads__each--img {
    width: 100%;
    height: 280px;
}

.ads__each--option {
    width: 72px;
    flex: 0 0 auto;
    height: 72px;
}

.skeleton__table {
    width: 100%;
    gap: 0 !important;
    margin-top: 1rem;
}

.skeleton__cell {
    width: 100%;
    height: 56px;
    border-top: 0.4px solid var(--c-mainBg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem;
}

.cell__height {
    height: 32px;
}

.cell__1 {
    width: 20%;
}

.cell__2 {
    width: 40%;
}

.cell__3 {
    width: calc(100% - 20% - 40% - 3.2rem);
}

.skeleton__cell:nth-child(odd) {
    background: var(--c-skeletonGrad);
}

.skeleton__cell:nth-child(even) {
    background-color: var(--c-skeletonPri);
}

.stat__block1::after, .stat__block2::after, .ads__upload::after, .ads__inn::after, .skeleton__block1::after, .skeleton__head::after, .cell__height::after, .material__block::after {
    position: absolute;
    content: "";
    width: 10%;
    transition: width 0.4s ease;
    height: 100%;
    background-color: var(--c-skeletonSec);
    background: var(--c-skeletonGrad);
    top: 0;
    left: 0;
    animation: skeleton__load 1.2s linear infinite alternate;
}

.skeleton__cell:nth-child(odd)::after {
    animation-delay: 1s;
}

@keyframes skeleton__load {
    0% {
        width: 20%;
        opacity: 0.9;
    } 33.33% {
        width: 40%;
        opacity: 0.5;
    } 50% {
        width: 60%;
        opacity: 0.3;
    }
     70% {
        width: 80%;
        opacity: 0.6;
    } 100% {
        width: 100%;
        opacity: 0.2;
    }
}

@media all and (max-width: 800px) {
    
    .skeleton__head {
        width: 200px;
        max-width: 100%;
    }

    .skeleton__main {
        height: 100%;
    }

    .skeleton__center {
        padding: 0.8rem 0.8rem 1.2rem;
    }
}

@media all and (max-width: 600px) {

    .skeleton__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skeleton__stat {
        width: 100%;
    }

    .skeleton__material {
        width: 100%;
    }
}