.form {
    width: 100%;
    padding: 1.2rem;
    background-color: #fafafa;
    border-radius: 4px;
}

.form > h2 {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--c-black);
}

.form > h2 span {
    color: var(--c-primary);
}

.form__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.2rem;
    padding-bottom: 1rem;
}

.multi__fields {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.page__changer {
    width: 100%;
    position: relative;
    padding: 1.2rem 0.2rem;
    margin-top: 1rem;
}

.page__changer button {
    padding: 0.36rem 0.7rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1.2px solid var(--c-primary);
    color: var(--c-white);
    background-color: var(--c-primary);
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    outline: none;
}

.page__changer button.back__changer {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.page__changer button.next__changer {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

}

@media (hover:hover) and (pointer: fine) {
    .page__changer button:not(:disabled):is(:hover, :focus-visible) {
        background-color: var(--c-primaryShade);
        color: var(--c-white);
        border-color: var(--c-primaryShade);
    }
}